<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="ProvaSparqlConnectImpl" class="ws.prova.reference2.builtins.ProvaSparqlConnectImpl">
	</bean>

	<bean id="ProvaSparqlDisconnectImpl" class="ws.prova.reference2.builtins.ProvaSparqlDisconnectImpl">
	</bean>
 
	<bean id="ProvaSparqlSelectImpl" class="ws.prova.reference2.builtins.ProvaSparqlSelectImpl">
	</bean>
	
	<bean id="ProvaSparqlAskImpl" class="ws.prova.reference2.builtins.ProvaSparqlAskImpl">
	</bean>
 
</beans>